<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
* {
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    height: fit-content;
    justify-content: center;
    
}

.box{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 25px;
    background-color: {{color}}
}

</style>
<body>
    
    <h1>Welcome to the Thunderdome!</h1>
    <div class="main">
        {% for i in range(num): %}
        <div class="box" style="background-color: {{color}}"></div>
        {% endfor %}
    </div>
    
    

    </body>
</html>